.main-logo {
    max-height: 80px;
    width: auto;
}

.search-wrapper {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2px;
}

.search-field {
    border: none;
    outline: none;
    font-size: 14px;
    background: transparent;
}

.search-icon {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    cursor: pointer;
}

.navbar-nav .nav-link {
    color: #435154 !important;
    font-size: 13px;
    font-weight: 600;
    padding: 0.5rem 1rem !important;
    text-transform: capitalize;
}

.navbar-nav .nav-link:hover {
    color: #79a859 !important;
}